body{
	font-family: 'Roboto Condensed', sans-serif;
	/*overflow: hidden;*/

	
}
.modal{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #F8F4F0;
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*transform: scale(0);*/
	transition: transform .3s;
}
.modal--show{
	transform: scale(1);
}
.modal__cerrar{
	position: absolute;
	right: 43px;
	top: 13px;
	cursor: pointer;
}

.modal__cerrar-span{
	font-size: 20px;
	font-weight: 100;
	color: #595959;
}
.modal__cerrar-x{
	font-size: 42px;
	font-weight: 100;
	color: #b7753b;
	margin-left: 15px;
}
.modal__flex{
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	
}
.modal__secciones{
	width: 30%;
	height: 100%;
	position: relative;
}
.modal__h2{
	text-align: center;
	color: #595959;
	font-weight: 100;
	font-size: 19px
}
.modal__span{
	display: inline-block;
	position: absolute;
	bottom: 106px;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 29px;
	color: #595959
}
.modal__span--top{
	bottom: 250px;
	cursor: pointer;
	/*width: 206px;*/

}

.modal__span--cantidad{
	width: 206px
}
.modal__secciones--border-left{
	border-right: 1px solid #b7753b;
}
.header{
	position: relative;
	height: 100vh;
	overflow: hidden;
	
}
.img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header__capa{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1c1c1d;
	opacity: .4;
	mix-blend-mode: luminosity;
}
.header__descripcion{
	position: absolute;
	text-align: center;
	top: 48%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}
.header__p{
	position: absolute;
	text-align: center;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	color: #fff;
	font-family: 'Life Savers', cursive;
	font-size: 20px;
	opacity: 10
}
.header__titulo{
	width: 50%;
	margin: 0 auto;
	color: #fff;
}

.header__btn{
	border: 1px solid #fff;
	display: inline-block;
	padding: 15px 70px;
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
	margin-top: 70px;
	transition: all ease .3s;
	background-color: #b7753b;
}


.section{
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section__h2{
	width: 100%;
	margin-bottom: 100px;
	padding: 0px 60px
}

.icono{
	width: 100%;
	
}
.section__servicios{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0px 50px
}

.section__atencion{
	display: flex;
	margin:10px 10px;
	width: 30%;
}

.section__img{
	
	width: 25%
}

.section__descripcion{
	width: 100%;
	position: relative;
	margin-left: 27px
}

.main{
	background-color: #fafafa;

	padding: 80px 0 153px 0;
	width: 100%;

}

.main__h2{
	text-align: center;
}
.main__p{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.main__container-article{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
.main__article{
	width: 28%;
	background-color: #ffff;
	margin-left: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main__img{
	width: 100%;
}
.main__habitacion{
	
	width: 100%;
	display: flex;
	flex-direction: column;
	
	padding: 20px 10px;
}
li{
	color: #595959;
	list-style: none;
	margin-bottom: 15px;
}
.main__span{
	margin-bottom: 10px;
	font-size: 14px;
	color: #000;
	font-weight: 700
}
.main__span--size{
	font-size: 20px
}
.main__span--size24{
	font-size: 35px
}
.main__sup{
	display: inline-block;
	position: relative;
	top: -18px;
}

.main__btn{
	text-decoration: none;
	background-color: #b7753b;
	display: inline-block;
	color: #fff;
	padding: 10px 30px;
	transition: background ease .3s;
}
.main__btn:hover{

	background-color: #C28148;
}

.reseña{
	width: 100%;
	background-color: #fff;
	margin-top: -20px;
	height: 100vh;
	padding: 104px 0
}
.reseña__container{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
	padding-bottom: 50px;
}

.reseña__titulo{
	text-align: center;
	position: relative;
	margin-bottom: 50px
}
.reseña__titulo:after{
	content: "";
	display: block;
	width: 90px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 33px;
	left: 50%;
	transform: translateX(-50%);

}
.reseña__text{
	width: 50%;
	margin: 20px auto;
	text-align: center;
}
.reseña__descripcion{
	position: relative;
	width: 25%;
	color: #595959;
	padding: 30px 18px;
	background-color: #ffff;
	margin-left: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reseña__icono{
	color: #b7753b;
	font-size: 24px;
	position: absolute;
	top:-11px;
}
.reseña__img{
	width: 20%;

}

.footer{
	width: 100%;
	
	background-color: #353535
}
.footer-flex{
	width: 100%;
	display: flex;
	justify-content: space-around;
	min-height: 14vh;
	align-items: center;
	
}
.footer-flex > div{
	
	height: 100px
}

.footer__texto{
	font-size: 12px;
	color:#e1e1e1;
}
.footer__h4{
	color: #ae9548
}
.footer__h2{
	color: #ae9548;
	text-transform: uppercase;
	padding-top: 60px;
	padding-left: 65px;
}
/*responsive*/
@media screen and (max-width: 420px){
	.header__titulo{
		width: 100%;
	}
	.header__btn{
		padding: 15px 30px;
		margin-top: 60px;
	}
	.section__atencion{
		display: flex;
	
		width: 100%;
	}
	.main__article{
		width: 90%;
		margin-top: 20px;
		margin-left: 0px;
	}
	.main__p{
		width: 100%;
		
	}
		.reseña{

			
			height: auto;
			
	}
	.reseña__descripcion{
		width: 90%;
		margin-top: 20px;
		margin-left: 0px;
		
	}
	.reseña__text{
		width: 100%;
	}
	.footer-flex{
		flex-direction: column;
		align-items: flex-start;
		
	}

	.footer__h2{
		
		padding-left: 20px;
	}
	.footer-flex > div{
	
		margin-left: 20px
	}
}