body{
	text-rendering: optimizeLegibility;
	font-family: 'Roboto Condensed', sans-serif;
}
.reservacion{
	width: 100%;
	background-color: #F3F3F3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	height: 15vh;
	justify-content:center;
	align-items: center;
}
.reservacion__estancia{
	text-align: center;
	width: 30%;
	padding: 20px 0;
	font-size: 24px;
	color: #ae9548;
	
}
.reservacion__border-right{
	border-right: 1px solid rgba(174,149,72, .5);
}
.reservacion__border-left{
	border-left: 1px solid rgba(174,149,72, .5);
}
.flex-column{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex{
	display: flex;
	
}
.header{
	font-family: 'Life Savers', cursive;
	width: 100%;
	background-color: #b7753b;
	text-align: center;
	padding: 30px 0;
}
.header__link{
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}

.main{
	width: 100%;
}
.main__habitaciones{
	width: 80%;
	background-color: #F3F3F3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 30px 0;
	padding: 10px;
}

.main__container-img{
	height: 100%;
	
}
.main__img{
	width: 182px;
	height: 75%;
	object-fit: cover;
}
.main__h2{
	margin: 0
}
.main__container-descripcion{
	padding: 0 20px;
	width: 66%;
	border-right: 1px solid #C7C7C7;
	height: 100%;
}
.main__container-precio{
	justify-content: center;
	width: 21%;
}
.main__btn{
	text-decoration: none;
	background-color: #b7753b;
	padding: 8px 23px;
	color: #fff;
	transition: background .3s
}
.main__btn:hover{
	background-color: #C37D40;
}
.main__precio{
	margin-bottom: 14px
}
.main__icono {
	margin-right: 10px
}

.main__icono-img{
	width: 20px
}


@media screen and (max-width: 420px){

	.main__img,.main__container-descripcion, .main__container-precio{
		width: 100%;
		border: none;
	}

	.main__habitaciones{
		flex-direction: column;
		padding: 0
	}
	.main__container-precio{
	
		align-items:  flex-start;
		padding: 10px 20px;
	}
}